/* Reset básico para garantir que o estilo seja consistente */
* {
  margin: 0;
  padding: 0;
}

/* Estilo para o corpo da página */
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #333;
  display: flex; /* Adiciona flexbox */
  justify-content: center; /* Centraliza horizontalmente */
  height: 100vh; /* Usa toda a altura da tela */
  margin: 0; /* Remove a margem padrão */
}

/* Container geral */
.container {
  max-width: 1200px;
  padding: 20px;
  background-color: white;
}

p{
  margin-top: 3%;
}

/* Títulos */
.hdois h2, .hdois h3 {
  color: #dd5684; /* Cor rosa para destacar títulos */
  margin: 3rem;
  text-align: center; /* Centraliza os títulos */
  font-size: 1.6rem;
}

/* Botões de navegação */
.botoes-mostra {
  text-align: center; /* Centraliza os botões */
}

.botoes-mostra a {
  text-decoration: none;
}


.botoes-mostra button {
  background-color: #dd5684; /* Cor rosa para botões */
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 1rem 2rem;
  cursor: pointer;
  font-size: 1.3rem;
  width: 10vw;
  transition: background-color 0.3s;
  margin: 1%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.botoes-mostra button:hover {
  background-color: #c3446f;
}

.tabela{
  width: 100%;
}

/* Tabela de resultados */
table { width: 10%; /* Define uma largura fixa para a tabela */
  margin: 3rem auto; /* Centraliza a tabela horizontalmente */
  border-collapse: collapse;
  background-color: #fff;   text-align: center;
  table-layout: fixed;

}

table thead {
  background-color: #dd5684;
  color: #fff;
}

table th, table td {
  padding: 12px;
  border-bottom: 1px solid #ddd;
}

table th {
  width: 6rem; /* ou qualquer valor fixo que você achar adequado */
}




table tr:nth-child(even) {
  background-color: #f9f9f9;
}

/* Caixas de informação */
.box-info-box {
  display: flex;
  justify-content: space-between;
  flex-direction: column; 
}

/* Caixas de informação */
.info-box {
  background-color: #fff;
  padding: 4%;
  width: 16vw;
  margin-bottom: 1.3rem;
  border-radius: 5px;
  border: 0.1vw solid #dd5684; /* Adiciona borda rosa */
  text-align: center;
  height: auto; /* Ajuste a altura para auto */
}

.info-box-title {
  font-size: 18px;
  margin-bottom: 10px;
  color: #dd5684;
  font-weight: bold;
}

/* Containers de gráfico */
.chart-info-container {
  display: flex;
  align-items: center;
  padding: 5%;
  background: #fbfbfb;
  height: 16rem;
  border-radius: 8px;
  box-shadow: 0 0 10px rgb(0 0 0 / 13%);
  width: 70%;
  margin: 0 auto;
  justify-content: space-around;
  
  margin-top: 3rem;
}



/* Estilo para inputs e botões de pesquisa */
.search-container {
  margin-top: 3rem;
  text-align: center; /* Centraliza a barra de pesquisa */
}

.search-container form {
  display: flex;
  justify-content: center; /* Centraliza o formulário */
}

.search-container input[type="text"] {
  padding: 1%;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-right: 10px;
  width: 42vw;
}

.search-container input[type="submit"] {
  background-color: #dd5684;
  color: #fff;
  border: none;
  padding: 1% 2%;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.search-container input[type="submit"]:hover {
  background-color: #c3446f;
}

#botaoeditar, #botaoexcluir{
  width: 5vw;
  margin: 5%;
  transition: background-color 0.3s;
}

#botaoeditar{
  background-color: #fd78bb;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  padding: 5%;
}

#botaoexcluir {
  background-color: #dd5684;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  padding: 5%;
}

#botaoeditar:hover{
  transform: scale(1.05);
}

#botaoexcluir:hover{
  transform: scale(1.05);  
}


/* Estilo para modais */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
  padding-top: 60px;

  h2{
    margin: 1%;
  }

  input[type="submit"]{
    background-color: #dd5684;
  color: #fff;
  border: none;
  padding: 1% 2%;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;

  }
  input[type="submit"]:hover{

    background-color: #c3446f;
  }
  
}

#deleteModal{
  padding-top: 10%;
}

.modal-content {
  background-color: #fff;
  margin: 5% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 600px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.close, .close-btn {
  color: #dd5684;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover, .close-btn:hover {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/* Estilo para inputs e botões no modal */
.modal-content input[type="text"],
.modal-content input[type="number"],
.modal-content textarea {
  width: calc(100% - 22px);
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 4px;
}


textarea {
  resize: none;
}

.modal-content {
  button{
    background-color: #dd5684;
  color: #fff;
  border: none;
  padding: 1% 2%;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  }

  button:hover{
    background-color: #c3446f;
  }
 }
/* Lista de autocomplete */
.autocomplete-list {
  border: 1px solid #ddd;
  border-radius: 4px;
  max-height: 150px;
  overflow-y: auto;
  position: absolute;
  background-color: #fff;
  width: 100%;
  z-index: 1000;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.autocomplete-list li {
  padding: 10px;
  cursor: pointer;
}

.autocomplete-list li:hover {
  background-color: #f4f4f4;
}

.pagination {
  margin-top: 20px;
  text-align: center;
}

.pagination a {
  padding: 5px 10px;
  margin: 0 5px;
  text-decoration: none;
  border: 1px solid #ddd;
  color: #000;
}

.pagination a.active {
  background-color: #dd5684; /* Cor de fundo rosa */
  color: white; /* Cor do texto */
 
}
